# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!subdir/
!scratch-simulator.cc
!iroute-exp-baselines.cc
!iroute-exp-results.hpp
!exp_accuracy.cc
!exp_load.cc
!exp_scaling.cc
!exp_failure.cc
